# if you can't manually set these install, build, and start steps in your deployment provider (e.g. Coolify), you can use this custom nixpacks.toml.
# - install: `bun install --frozen-lockfile`
# - build: `bun run build`
# - start: `bun run start`


[phases.setup]
nixPkgs = ['bun', 'nodejs_22']
nixpkgsArchive = 'bcd464ccd2a1a7cd09aa2f8d4ffba83b761b1d0e'
aptPkgs = ["gcc", "g++", "make", "python3"]

[phases.install]
cmds = ['bun install --frozen-lockfile', 'npm rebuild better-sqlite3']

[phases.runtime]
nixLibs = ['gcc.cc.lib']
nixpkgsArchive = 'bcd464ccd2a1a7cd09aa2f8d4ffba83b761b1d0e'

[phases.build]
cmds = ['bun run build']

[phases.start]
cmds = ['bun run start']
